*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url("../Image/new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}

/*-------------------------------------------------------  Header Section --------------------------------------------------------------------*/



.content .header{
    width: 99%;
    height: 50px;
    margin-left: 0.5%;
    margin-top: 2vh;
    background-color:rgb(89,49,20);
    border-radius: 5px;
    display: flex;
    border:1px solid black;
    
}



.header .icon{
    color: rgb(206,189,123);
    font-size: 25px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 10px;
} 

.header .items{
    color:rgb(206,189,123) ;
    font-size: 16px;
    padding: 3px;
    margin-top: 12px;
    margin-left: 1px;
}

.header .fa-phone{
   
    color: rgb(206,189,123);
    font-size: 22px;
    padding: 5px;
    margin-top: 8px;
    margin-left: 200px;
} 

.header .fa-facebook{
    margin-left: 545px;
}

.header .fa-twitter{
    margin-left: 50px;
}

.header .fa-instagram{
    margin-left: 50px;
}

.header .fa-linkedin{
    margin-left: 50px;
}

.header .icon:hover{
    color: black;
    
}


/*--------------------------------------------------- Navigation Bar -----------------------------------------------------------------------*/




.navibar{
    width: 99%;
    height: 100px;
    background-color:transparent;
    border: 1px solid black;
    margin-top: 2vh;
    margin-left: 0.5%;
    box-shadow: 0px 0px 20px black;
    display: flex;
    align-items: center;
  
    
    
}

.navibar ul {
    display: flex;
   
}

.navibar ul li{
    list-style-type: none;
    padding: 10px 20px ;
   
    
}

.navibar ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    margin-left: 24px;
   
}

.navibar ul li a:hover{
    color:rgb(89,49,20) ;
    
    background-color:  rgb(206,189,123);
    border-radius: 5px;
    
}

.navibar .list{
    width: 66%;
    
    justify-content:center;
   
    
    

}

.navibar .log{
    width: 20%;
    height: 70px;
    justify-content:center;
    
    
   
   
   
} 

.navibar .log img{
    width: 140px;
    height: 70px;
    margin-left: 70px;
   
   
} 


                               /*Buttons*/


.navibar .sig{
    width: 13%;
    height: 70px;
    margin-left: 0px;
    display: flex;
    background-color:transparent;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(89,49,20) ;
}

.navibar .sig:hover{
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: 1s;
} 


.navibar .but{
    margin-left:  11px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: rgb(89,49,20);
    color: rgb(206,189,123);
}

.navibar .but:hover{
    color: aliceblue;
    border: 1px solid black;
    background-color: transparent;
    transition: 1s;
}





/*---------------------------------------------------------content section----------------------------------------------------------------*/



.content{
    width: 100%;
    height: 100vh;
    
    
    
}

.sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:282.5px 282.5px;
    margin-left:0.5%;
    margin-right: 0.5%;
    width: 99%;
    height: 565px;
    
    
}

.title, .im{
    
    display: flex;
    justify-content: center;
    align-items:end;
}

.title span{
    
    
    color:rgb(206,189,123);
    font-size: 95px;
    font-family: emoji;
    letter-spacing: 10px;
    text-shadow: 0px 1px 0px black, 0px 2px 0px black,0px 3px 0px black,0px 4px 0px black,0px 5px 0px black,0px 6px 0px black,
    0px 7px 0px black,0px 8px 0px black,0px 9px 0px black;
    animation: 3s mov linear infinite;
    
    
}
@keyframes mov{
    50%{
        transform: translateY(-100px);
        
        text-shadow: 0px 1px 0px black, 0px 2px 0px black,0px 3px 0px black,0px 4px 0px black,0px 5px 0px black,0px 6px 0px black,
        0px 7px 0px black,0px 8px 0px black,0px 9px 0px black,0px 50px 10px white;
    }
    100%{
        transform: translateY(0px);
    }
}
span:nth-child(1){
     animation-delay: .5s;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
}
span:nth-child(4){
    animation-delay: 2s;
}
span:nth-child(5){
    animation-delay: 2.5s;
}
span:nth-child(6){
    animation-delay: 3s;
}
span:nth-child(7){
    animation-delay: 3.5s;
}
span:nth-child(8){
    animation-delay: 4s;
}

.ser{
    height: 565px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ser img{
    height: 500px;
    margin-left: 60px;
}



/*----------------------------------------------------------Next Page-------------------------------------------------------------------*/



.next{
    width: 100%;
    height: 100vh;
    
    background-color:sandybrown;
}

