*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria;
    
}

/*---------------------------------------------header-section---------------------------------------------*/

.head{
    width: 100%;
    height: 50px;
    background-color:#00202B ;
    display: flex;
   
}

.head .icon{
    color:#808080 ;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
} 

.head .items{
    color: #808080;
    font-size: 16px;
    padding: 3px;
    margin-top: 12px;
    margin-left: 1px;
}

.head .fa-phone{
   
    color: #808080;
    font-size: 22px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 200px;
} 

.head .fa-facebook{
    margin-left: 545px;
}

.head .fa-twitter{
    margin-left: 50px;
}

.head .fa-instagram{
    margin-left: 50px;
}

.head .fa-linkedin{
    margin-left: 50px;
}

.head .icon:hover{
    color: #ffffff;
    
}

/*--------------------------------------------- end of header-section---------------------------------------------*/

/*---------------------------------------------navbar---------------------------------------------------------------*/

.navbar{
    width: 100%;
    padding: 20px;
    background-color: #ffffff ;
    height: 91px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2);
    /*border: 2px solid black;*/
}

.navbar h1{
    font-size: 60px;
    position: absolute;
    margin-left: 20px;
    top: 57px;
    letter-spacing: 1px;
    color:#00202B;
}
.navbar h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #808080;
}

.navbar h1:nth-child(2){
    color:#00202B ;
    animation: animit 3s ease-in-out infinite;
}

@keyframes animit{
     0%,100%{
        clip-path: polygon(0 48%, 6% 55%, 15% 62%, 25% 65%, 35% 65%, 45% 61%, 54% 52%, 64% 47%, 74% 47%, 81% 47%, 93% 51%, 100% 58%, 99% 98%, 1% 99%);
     }
     50%{
        clip-path: polygon(0 53%, 8% 46%, 19% 42%, 31% 43%, 41% 48%, 48% 54%, 56% 62%, 66% 66%, 76% 66%, 84% 62%, 93% 57%, 100% 50%, 100% 100%, 0 100%);
     }
}


 /* border: 2px solid #00202B ;*/
    
 .navbar-item{
    position: absolute;
    top: 55px;
    bottom: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 10%;
    background-color: #808080;
    border: 2px solid #00202B
   /* border: 2px solid black;*/
} 
   
.navbar-item .dropdown li{
    
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    padding: 4px;
    
   
}

.navbar-item .dropdown li a{
    text-decoration: none;
    font-size:24px;
    color: #00202B;
    transition: 0.1s;
    position: relative;
   
}





.navbar-item .dropdown li a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #ffffff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

.navbar-item .dropdown li a:hover{
    color: #ffffff;
    transition:0.3s;

}

.navbar-item .dropdown li a:hover::after{
  /*  border-bottom:3px solid #ffffff;
    */
    transform: scale(1);
    
}